<nav class="sidenav">
  <ul class="nav-list">
    <ng-container *ngFor="let item of navItems">
      <li *ngIf="isVisible(item)">
        <a
          [routerLink]="item.route"
          routerLinkActive="active-link"
          class="nav-link"
          [nbTooltip]="item.label"
          nbTooltipPlacement="right"
        >
          <nb-icon [icon]="item.icon" pack="eva" class="nav-icon"></nb-icon>
          <span class="nav-label">{{ item.label }}</span>
        </a>
      </li>
    </ng-container>
  </ul>

  <div class="sidenav-footer" *ngIf="user() as u">
    <div class="user-profile">
      <span class="user-avatar">{{ initials }}</span>
      <span class="user-info">
        <span class="user-name">{{ u.username }}</span>
        <span class="user-role">{{ roleLabel }}</span>
      </span>
    </div>
  </div>
</nav>
