<div class="help-widget" [class.open]="isOpen()">
  <button
    nbButton
    type="button"
    status="primary"
    shape="round"
    class="help-fab"
    (click)="toggle()"
    [nbTooltip]="isOpen() ? 'Close' : 'Need help?'"
    aria-label="Help"
  >
    <nb-icon
      [icon]="isOpen() ? 'close-outline' : 'question-mark-circle-outline'"
      pack="eva"
    ></nb-icon>
  </button>

  <div class="help-panel" *ngIf="isOpen()">
    <h3>Need help?</h3>
    <p>Get support or view documentation</p>
    <div class="help-actions">
      <button nbButton ghost status="basic" type="button" (click)="contactSupport()">
        <nb-icon icon="email-outline" pack="eva"></nb-icon>
        Contact Support
      </button>
      <button nbButton ghost status="basic" type="button" (click)="viewDocs()">
        <nb-icon icon="book-open-outline" pack="eva"></nb-icon>
        View Docs
      </button>
    </div>
  </div>
</div>
