<div class="charts-grid">
  <div class="chart-card">
    <h3 class="chart-title">Case Status Distribution</h3>
    <ngx-charts-pie-chart
      [results]="statusDistribution()"
      [legend]="false"
      [doughnut]="true"
      [scheme]="colorScheme"
      [labels]="true"
      [legendTitle]="''"
    >
    </ngx-charts-pie-chart>
  </div>

  <div class="chart-card">
    <h3 class="chart-title">Cases by Severity</h3>
    <ngx-charts-bar-vertical
      [results]="severityData()"
      [scheme]="colorScheme"
      [xAxis]="true"
      [yAxis]="true"
      [showXAxisLabel]="false"
      [showYAxisLabel]="false"
      [roundDomains]="true"
    >
    </ngx-charts-bar-vertical>
  </div>

  <div class="chart-card chart-card-wide">
    <h3 class="chart-title">Top Rules Triggered</h3>
    <ngx-charts-bar-horizontal
      [results]="topRules()"
      [scheme]="colorScheme"
      [xAxis]="true"
      [yAxis]="true"
      [showXAxisLabel]="false"
      [showYAxisLabel]="false"
      [roundDomains]="true"
    >
    </ngx-charts-bar-horizontal>
  </div>
</div>
