<a class="skip-link" href="#main-content">Skip to main content</a>

<nb-layout>
  <nb-layout-header fixed>
    <app-topbar [user]="currentUser()" (toggleSidenav)="onToggleSidebar()" />
  </nb-layout-header>

  <nb-sidebar [tag]="sidebarTag" responsive class="menu-sidebar" start>
    <app-sidenav [user]="currentUser()" />
  </nb-sidebar>

  <nb-layout-column class="shell-column">
    <app-breadcrumbs [items]="breadcrumbs()" />
    <main id="main-content" tabindex="-1" class="page-content">
      <router-outlet />
    </main>
  </nb-layout-column>
</nb-layout>

<app-help-widget />
